body {
  background-color: black;
  color: magenta;
  font-family: sans-serif;
  background-image: url(/starsbg.gif);
}
aside {
  display: block;
}
/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 20%;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: right;
  padding: 20px;
  width: 70%;
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}