body {
  background-color: black;
  color: magenta;
  font-family: sans-serif;
  background-image: url(/starsbg.gif);
}

#container {
  margin: auto;
  background-color: black;
  opacity: 100%;
  height: auto;
  width: 50%;
  border:5px solid cyan;
  border-radius: 25px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}