body {
  background-color: black;
  color: magenta;
  font-family: sans-serif;
  background-image: url(/starsbg.gif);
}
aside {
  display: block;
}
/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 20%;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: right;
  padding: 20px;
  width: 70%;
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
img.error {
    position: fixed; /* forces the element to stay fixed in relation to the viewport */
    top: 5%; /* sets the top of the image 50% of the page height */
    right: 5%; /* sets the left side of the image 50% across the page */
    
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
img.congratulations {
    position: fixed; /* forces the element to stay fixed in relation to the viewport */
    top: 50%; /* sets the top of the image 50% of the page height */
    left: 45%; /* sets the left side of the image 50% across the page */
    margin-left: -100px; /* moves the image half of its own width to the left-side of the page */
    margin-top: -100px; /* moves the image half its height 'up' the page */
    animation: blink 1s;
    animation-iteration-count: infinite;
}
img.devil {
    position: fixed; /* forces the element to stay fixed in relation to the viewport */
    top: 30%; /* sets the top of the image 50% of the page height */
    left: 20%; /* sets the left side of the image 50% across the page */
    margin-left: -100px; /* moves the image half of its own width to the left-side of the page */
    margin-top: -150px; /* moves the image half its height 'up' the page */
}
img.reality {
    position: fixed; /* forces the element to stay fixed in relation to the viewport */
    top: 60%; /* sets the top of the image 50% of the page height */
    left: 15%; /* sets the left side of the image 50% across the page */
    margin-left: -100px; /* moves the image half of its own width to the left-side of the page */
    margin-top: -150px; /* moves the image half its height 'up' the page */
}
img.fail {
    position: fixed; /* forces the element to stay fixed in relation to the viewport */
    top: 75%; /* sets the top of the image 50% of the page height */
    right: 5%; /* sets the left side of the image 50% across the page */
    margin-left: -100px; /* moves the image half of its own width to the left-side of the page */
    margin-top: -150px; /* moves the image half its height 'up' the page */
}
img.happiness {
    position: fixed; /* forces the element to stay fixed in relation to the viewport */
    top: 85%; /* sets the top of the image 50% of the page height */
    left: 10%; /* sets the left side of the image 50% across the page */
    margin-left: -100px; /* moves the image half of its own width to the left-side of the page */
    margin-top: -150px; /* moves the image half its height 'up' the page */
}