body {
  background-color: black;
  color: pink;
  font-family: sans-serif;
  background-image: url(/catbackground.jpg);
}
.kitten{
    position:fixed;
    bottom:0px;
    right:0%;
}
#container {
  margin: auto;
  background-color: #4B0082;
  opacity: 100%;
  height: auto;
  width: 50%;
  border:5px solid #98ff98;
  border-radius: 25px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
