body {
  background-color: black;
  font-family: sans-serif;
  background: url(/forest.png) center center fixed;
  background-size: 50% 100%;
}
.frogintree{
    position:fixed;
    bottom:0px;
    left:0%;
}
.welcome{
    display: block;
    top:0px;
    margin-left: auto;
    margin-right: auto;
}
#scrollbox {
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.back {
  position: absolute;
  bottom: 0;
  margin: auto;
  left: 0; 
  right: 0;
}
.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}