body {
  background-color: #ff1493;
  background-image: url("starsbg.gif");
  color: magenta;
  font-family: sans-serif;
}
#container {
  margin: auto;
  background-color: black;
  opacity: 100%;
  height: auto;
  width: 50%;
  border:5px solid cyan;
  border-radius: 25px;
}
#section {
  margin: auto;
  text-align: center;
}

#welcome {
  width: 20%;
  height: auto;
}
