body {
  background-color: black;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  background: url(skybg.gif) center center fixed;
  background-size: 25% 100%;
}
.switch {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  
}
.back {
  position: absolute;
  bottom: 0;
  margin: auto;
  left: 0; 
  right: 0;
}
.construction {
  position: absolute;
  top: 65%;
  margin: auto;
  left: 0; 
  right: 0;
}
.rover {
  position: absolute;
  top: 20%;
  margin: auto;
  left: -7%; 
}
.frog {
  position: absolute;
  top: 26%;
  margin: auto;
  right: 7%; 
}
#scrollbox {
  position: absolute;
  margin: auto;
  margin-top: 3.3%;
  margin-left: 39.8%;
}
#scrollbox2 {
  position: absolute;
  margin: auto;
  margin-top: 3.3%;
  margin-left: 49.8%;
}